{% extends 'schools/header.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Bonzai Gallery</title>
    <!-- Bootstrap -->
<!--    <link href="{% static 'schools/bootstrap.min.css' %}" rel="stylesheet">-->
    <link href="{% static 'schools/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'schools/templatemo_misc.css'%}">
    <link href="{% static 'schools/templatemo_style.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>

    <script src="{% static 'schools/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'schools/jquery.lightbox.js' %}"></script>
	<script src="{% static 'schools/templatemo_custom.js' %}"></script>
    <script>
    function showhide()
    {
    	var div = document.getElementById("newpost");
		if (div.style.display !== "none")
		{
			div.style.display = "none";
		}
		else {
			div.style.display = "block";
		}
    }
  	</script>


</head>
<body>
<!-- gallery start -->
    <div class="content homepage" id="menu-1">
    <div class="container">
	    <div class="row templatemorow">
    		<div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g1.jpg' %});">
             	 	<div class="overlay">
						<a href="{% static 'schools/g1.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g2.jpg' %});">
              	<div class="overlay">
						<a href="{% static 'schools/g2.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g3.jpg' %});">
              	<div class="overlay">
						<a href="{% static 'schools/g3.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g4.jpg' %});">
              	<div class="overlay">
						<a href="{% static 'schools/g4.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g5.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g5.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  	     <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g3.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g3.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
     <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g2.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g2.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/1.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g1.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g5.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g5.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    	</div>
	</div>
    <div  id="newpost" style="display:none;" class="container answer_list templatemo_gallerytop">
	    <div class="row templatemorow">
    		<div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g4.jpg' %});">
             	 	<div class="overlay">
						<a href="{% static 'schools/g4.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g3.jpg' %});">
              	<div class="overlay">
						<a href="{% static 'schools/g3.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g2.jpg' %});">
              	<div class="overlay">
						<a href="{% static 'schools/g2.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g1.jpg' %});">
              	<div class="overlay">
						<a href="{% static 'schools/g1.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g5.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g5.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  	     <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g4.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g4.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
     <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g3.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g3.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g2.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g2.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({% static 'schools/g1.jpg' %});">
              		<div class="overlay">
						<a href="{% static 'schools/g1.jpg' %}" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    	</div>
	</div>
    <div class="container">
    	<div class="row">
        	<div class="templatemo_loadmore">
			 <button class="gallery_more" id="button" onClick="showhide()">Load More</button>
            </div>
        </div>
    </div>
    </div>
      <!-- gallery end -->
</body>
{% endblock %}