{% extends 'schools/header.html' %}
{% block content %}
{% load static %}

<!--Slide Images-->


<div class="main-wrapper">
    <div class="slider-holder">
        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img src="{% static 'schools/1.jpg' %}" width="50%" height="50%"></a>
            <a class="carousel-item" href="#two!"><img src="{% static 'schools/2.jpg' %}" width="50%" height="50%"></a>
            <a class="carousel-item" href="#three!"><img src="{% static 'schools/3.jpg' %}" width="50%" height="50%"></a>
            <a class="carousel-item" href="#four!"><img src="{% static 'schools/4.jpg' %}" width="50%" height="50%"></a>
        </div>
    </div>
</div>

  <!--  <img src="{{school.image.url}}" width="30%" height="60%"> -->

<!--Script for Slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script>
  $('.carousel.carousel-slider').carousel({
    fullWidth: true
  });
</script>

<!-- Schools Tabs --
<div class="row">
    {% for school in xul %}
        <div class="col s12 m3">
          <div class="card materialize-red ">

            <div class="card-content white-text">
              <span><img src="{{school.image.url}}" class="rounded" height="30%" width="100%"></span>
                            <span class="card-title">{{school.name}}</span>

              <p>{{school.description}}</p>
            </div>
            <div class="card-action">
              <a href="#">Visit School</a>

            </div>
          </div>
        </div>
    {% endfor %}
  </div>
-->

{% endblock %}
