{% extends 'schools/header.html' %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <title>news</title>
</head>
<body>
<!--IMPORTANT DATES-->
<center>
<h3>IMPORTANT DATES</h3>
  <div class="slideUp" id="news-bar">
    <marquee direction="left" scrollamount="3" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()">
      <a  class="hvr-pop"> Schools Opening</a><a> -*- </a>
      <a  class="hvr-pop">Schools Closing</a><a> -*- </a>
      <a class="hvr-pop">Metric Dance </a><a> -*- </a>
      <a class="hvr-pop"> Metric Exams</a><a> -*- </a>
      <a class="hvr-pop"> Speech and Prize Giving Day</a><a> -*- </a>
    </marquee>
  </div>
</center>

<div class="container" align="center">
    <h1>The Bonzai Bulletin</h1>
    {% for news in articles %}

        <a href="{% url 'details' news.slug %}"><h4>{{news.title}}</h4></a>
        <h6> {{news.date}}</h6>

    {% endfor %}
</div>
</body>

{% endblock%}