.carousel-item{
    height: 80vh;
    min-height: 300px;
    background: no repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;

}
.carousel-item::before{
    content:"";
    display:black;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#000;
    opacity:0.7;
}
a {
  color: #49850b;
  font-weight: 450;
}
a:hover{
  color: rbga(96,90,12,1)
}
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.container{
margin-top: 8%;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

<!-- for registration -->

		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #f8f9fa !important;
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #4e810b;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;
		}
		.login_btn {
			width: 100%;
			background: #635d0f !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #655c0f !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		.link { color: #fff; }

		.clr { color: #49850b}
		.navbar { color: #49850b}

.navbar-brand{
  font-size: larger;
}